<!DOCTYPE html>
<html>
<head>
  <title>My Cool Site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'Layouts/header' %>
<div class="container">
<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert alert-#{name}") %> 
	<% end %>
<%= yield %>
<%= render 'Layouts/footer' %>
</div>
</body>
</html>
